@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

div {
	width: 1080px;
	margin: 0 auto;
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

body {
	text-align: center;
}

h1 {
	font-family: 'Permanent Marker', monospace;
	font-size: 2.5em;
	color: rgb(230,0,0);
}

h2 {
	font-family: 'Cutive Mono', monospace;
	font-size: 1.5em;
	font-weight: 900;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}

p {
	font-family: 'Cutive Mono', monospace;
	font-size: 1em;
}

img {
	padding-top: 24px;
	padding-bottom: 12px;
}

a {
	font-family: 'Permanent Marker', monospace;
	font-size: 1em;
	color: rgb(230,0,0);
	text-decoration: none;
}

a:hover {
	background-color: yellow;
}

footer {
	padding: 1em 0;
	background-color: #FF957E;
}

.date {
	font-family: 'Arial', sans-serif;
	font-size: .6em;
	text-transform: uppercase;
}